/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* config-body */
body {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: #fff;
  background-color: #1c1c1c;

  font-family: "Roboto Mono", monospace;
}

/* config-div */
.globalDiv {
  width: 95vw;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* config-responsive */
@media (max-width: 426px) {
  .globalDiv {
    flex-direction: column;
  }
}
